*.sh
*.zip
*.ipynb
*.log
_*
*tmp*
*test*

__pycache__
logs
.vscode
nohup.out
!__init__.py

# ==============================

data/**/*.csv
!data/raw_data/ETTh1.csv
!data/data.zip
!data/*.ipynb

!experiment/**/visualize.ipynb

experiment/log_space/**
!experiment/log_space/*.zip

log_space
ckpt_space