*.sh
*.zip
*.ipynb
*.log
_*
*tmp*
*test*

__pycache__
logs
.vscode
nohup.out
!__init__.py

# ==============================

data/**/*.csv
!data/raw_data/ETTh1.csv

experiment/log_space/**
!experiment/log_space/*.zip
!experiment/**/visualize.ipynb

references/references code/Informer2020

log_group
log_space
ckpt_space
src/script/**
!src/model/_test_model.py